$section-dark: #e3e1dd;
$section-light: #ffffff;
$top-menu-link-color: #7b7a91;
$counts-color: rgba(70,70,105,0.69);
$contrast-color: #dc8503;
$milling-button: #7b7a91;
$milling-card: #ffffff;
$milling-card-dark: #efeeeb;
$milling-category-color: #8d8d8d;
$text-color-main: #23262f;
$available-textures-title: #ffffff;
$available-textures-button-bg: #d1cfd3;
$kit-state-input-bg: #f1f0ee;
$ask-question-bg: rgba(66,66,65,0.6);

$section-title-size: 36px;
